*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
app/build/
liquidglass/build/
/glass-core/build
/glass-demo/build
/designsystem-tokens/build
/designsystem/build
